<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfTestService.Service1" behaviorConfiguration="Service1Behavior">
        <endpoint address="/Address1" binding="basicHttpBinding" contract="WcfTestService.IService1">
          <headers>
            <Member xmlns="http://wcfserver.apphb.com/">Gold</Member>
          </headers>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>